
.app-wrapper{
  display: grid;
  grid-template-areas:
          "header header"
          "nav section";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 3fr 8fr;
  width: 1920px;
  margin: auto;
}
body{
  height: 100vh;
  background: linear-gradient(360deg, #00445C, #FF445C) ;
}

